body{
   background-color: rgb(238, 17, 17);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}


H1{
   color: rgb(18, 233, 18);
}


.caixa-principal{
   background-color: rgb(68, 11, 224);
   width: 90%;
   text-align: center;
   padding: 20px;
}






